a{
    text-decoration: none;
    color: white;
}

.zoomedIn{
    zoom: 1.5;
}

body{
    margin: 0 !important;
}

.InboxArea{
    display: flex;
    justify-content: center;
    padding: 20px;
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;

}

.messageOwner{
    display: flex;
    justfiy-content: center;
}

.body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;    
}

.alignCenter{
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignBetween{
    width: 100%;
    display: flex;
    justify-content: center;
}


.messageContext{
    display: inline-flex;
    margin-left: 30px;
    border-radius: 0px 10px 10px 10px;
}

@media screen and (min-width: 600px){
    .message {
        max-width: 500 !important;
    }
}
